<div class="form-wrapper">
  <h1>{{ isEdit ? 'Edit Car' : 'Add a new Car' }}</h1>

  <form [formGroup]="form" (ngSubmit)="save()" novalidate class="form">
    <div class="row">
      <input formControlName="make" placeholder=" " />
      <label>Make</label>
      <small *ngIf="submitted && form.controls['make'].invalid">Required</small>
    </div>

    <div class="row">
      <input formControlName="model" placeholder=" " />
      <label>Model</label>
      <small *ngIf="submitted && form.controls['model'].invalid">Required</small>
    </div>

    <div class="row">
      <input type="number" formControlName="year" [max]="maxYear" placeholder=" " />
      <label>Year</label>
      <small *ngIf="submitted && form.controls['year'].invalid">
        Year must be between 1980 and {{ maxYear }}
      </small>
    </div>

    <div class="row">
      <input type="number" formControlName="price" placeholder=" " />
      <label>Price (EGP)</label>
      <small *ngIf="submitted && form.controls['price'].invalid">Must be ≥ 0</small>
    </div>

    <div class="row">
      <input type="number" formControlName="mileage" placeholder=" " />
      <label>Mileage (km)</label>
      <small *ngIf="submitted && form.controls['mileage'].invalid">Must be ≥ 0</small>
    </div>

    <div class="row">
      <select formControlName="condition">
        <option value="" disabled selected hidden></option>
        <option>New</option>
        <option>Used</option>
        <option>Certified</option>
      </select>
      <label>Condition</label>
    </div>

    <!-- Features + Contact Method جنب بعض -->
    <div class="row half-width">
      <input formControlName="features" placeholder=" " />
      <label>Features</label>
    </div>

    <div class="row half-width">
      <input formControlName="contactMethod" placeholder=" " />
      <label>Contact Method</label>
      <small *ngIf="submitted && form.controls['contactMethod'].invalid">Required</small>
    </div>

    <!-- Description Full Width -->
    <div class="row full-width">
      <textarea formControlName="description" rows="4" placeholder=" "></textarea>
      <label>Description</label>
    </div>

    <div class="row full-width" *ngIf="!isEdit">
      <input type="file" (change)="onFileSelected($event)" multiple />
      <label>Upload Car Images</label>
    </div>

    <div class="actions">
      <button type="submit" class="btn btn-primary">
        {{ isEdit ? 'Update Listing' : 'Save Listing' }}
      </button>
      <button type="button" class="btn btn-light" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>
