<header class="topbar" [class.scrolled]="isScrolled">
  <div class="brand" routerLink="/cars">
    <img src="assets/icon.png" alt="logo" class="logo" />
    <span>CarSpot</span>
  </div>

  <nav class="actions">
    <button (click)="toggleTheme()" class="btn btn-theme-outline">
      <svg *ngIf="!isDark" xmlns="http://www.w3.org/2000/svg"
           fill="currentColor" viewBox="0 0 24 24">
        <path d="M12 18a6 6 0 100-12 6 6 0 000 12zm0-16a1 1 0 011 1v2a1 1 0 01-2 
        0V3a1 1 0 011-1zm0 18a1 1 0 011 1v2a1 1 0 01-2 
        0v-2a1 1 0 011-1zm9-7a1 1 0 010 2h-2a1 1 0 010-2h2zM5 
        12a1 1 0 010 2H3a1 1 0 010-2h2zm11.95 5.536a1 1 0 
        01.707 1.707l-1.414 1.414a1 1 0 
        01-1.414-1.414l1.414-1.414a1 1 0 
        01.707-.293zm-9.9 0a1 1 0 010 
        1.414L5.636 20.95a1 1 0 
        01-1.414-1.414l1.414-1.414a1 1 
        0 011.414 0zM17.364 5.636a1 1 0 
        010 1.414l-1.414 1.414A1 1 0 
        1114.536 7.05l1.414-1.414a1 1 
        0 011.414 0zm-10.728 0a1 1 0 
        011.414 0L9.464 7.05a1 1 0 
        11-1.414 1.414L6.636 7.05a1 1 
        0 010-1.414z"/>
      </svg>

      <svg *ngIf="isDark" xmlns="http://www.w3.org/2000/svg"
           fill="currentColor" viewBox="0 0 24 24">
        <path d="M21 12.8A9 9 0 1111.2 3a7 7 0 009.8 9.8z"/>
      </svg>
    </button>

    <ng-container *ngIf="isLoggedIn; else guestLinks">
      <a *ngIf="isAdmin && !isCurrentRouteStartsWith('/admin')" 
         class="btn btn-admin-outline" 
         routerLink="/admin">
        Admin Dashboard
      </a>
      <a *ngIf="!isCurrentRouteStartsWith('/cars/new')" 
         class="btn btn-accent-outline" 
         routerLink="/cars/new">
        Add Listing
      </a>
      <a *ngIf="!isCurrentRouteStartsWith('/profile')" 
         class="btn btn-profile-outline" 
         routerLink="/profile">
        <svg xmlns="http://www.w3.org/2000/svg" 
             viewBox="0 0 24 24" 
             fill="currentColor" 
             class="icon">
          <path d="M12 12c2.7 0 5-2.3 5-5s-2.3-5-5-5-5 
                   2.3-5 5 2.3 5 5 5zm0 2c-3.3 0-10 
                   1.7-10 5v3h20v-3c0-3.3-6.7-5-10-5z"/>
        </svg>
        <span>Profile</span>
      </a>
      <button (click)="logout()" class="btn btn-danger-outline">Logout</button>
    </ng-container>

    <ng-template #guestLinks>
      <a routerLink="/login" class="btn btn-primary-outline">Login</a>
      <a routerLink="/register" class="btn btn-primary-outline">Register</a>
    </ng-template>
  </nav>
</header>

<main class="container">
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <span>© {{ year }} CarSpot</span>
</footer>
